.app-header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.app-header {
    display: inline-block;
    margin: 0 1em 0 0;
}

.app-header img {
	width: 50px;
    height: fit-content;
	object-fit: contain;
}
