---
layout: layouts/home.njk
eleventyNavigation:
  key: Apps
  order: 0
---
<h1>My Apps</h1>
<!-- 
{% set appList = collections.alls | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %} -->

<!-- 
{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %} -->

{# List every content page in the project #}
<ul>
	{%- for entry in collections.apps %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
