---
layout: layouts/home.njk
eleventyNavigation:
  key: Apps
  order: 0
---
<h1>My Apps</h1>
<!-- 
{% set appList = collections.alls | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %} -->

<!-- 
{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %} -->

{# List every content page in the project #}
<ul class="app-list">
	{%- for entry in collections.Apps %}
	<li class="app-list-entry">
	<div class="app-header-container">
		<div class="app-header">
			{%- set iconPath = "apps/" + entry.data.title.toLowerCase() + "/icon.png" %}
			{% image iconPath, "App Icon", "(max-width: 300px) 256px,
			512px", [256, 512] %}
		</div>
		<a href="{{ entry.url }}">
			<h2>{{ entry.data.title }}</h2>
		</a>
	</div>
	<p>{{ entry.data.description }}</p>
	</li>
	{%- endfor %}
</ul>
