
<div class="app-header-container">
    <div class="app-header">
        {% image "icon.png", "App Icon", "(max-width: 300px) 256px,
        512px", [256, 512] %}
    </div>
    <h1 class="app-header">{{ title }}</h1>
</div>