<ol class="postlist" reversed>
{% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">
			<span class="postlist-link__title">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</span>
			<time class="postlist-link__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLL yyyy") }}</time>
		</a>
	</li>
{% endfor %}
</ol>
