---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

{% include "apptitle.njk" %}

<ul class="post-metadata">
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>


{%- set pressPage = collections.all | pressPage(page.fileSlug) %}
{%- set privacyPage = collections.all | privacyPage(page.fileSlug) %}
{%- set faqsPage = collections.all | faqsPage(page.fileSlug) %}

<ul class="flex-container">
	{% if faqsPage %}
	<li>
		<a class="app-detail-link" href="{{ faqsPage.url }}">FAQs</a>
	</li>
	{% endif %}
	
	{% if pressPage %}
	<li>
		<a class="app-detail-link" href="{{ pressPage.url }}">Press</a>
	</li>
	{% endif %}
	
	{% if privacyPage %}
	<li>
		<a class="app-detail-link" href="{{ privacyPage.url }}">Privacy</a>
	</li>
	{% endif %}	
</ul>

{{ content | safe }}
