---
layout: layouts/base.njk
ogType: "article"
---
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "Article",
	"headline": {{ title | jsonEscape | safe }},
	"datePublished": "{{ page.date | htmlDateString }}",
	"dateModified": "{{ page.date | htmlDateString }}",
	"author": { "@id": "{{ metadata.url }}#person" },
	"publisher": { "@id": "{{ metadata.url }}#organization" },
	"mainEntityOfPage": "{{ page.url | htmlBaseUrl(metadata.url) }}"
}
</script>

{% set breadcrumbSection = "Blog" %}
{% set breadcrumbSectionUrl = metadata.url + "blog/" %}
{% include "breadcrumb.njk" %}

<header class="post-header">
	<span class="post-header__eyebrow">News</span>
	<h1>{{ title }}</h1>
	<ul class="post-meta">
		<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="tag">{{ tag }}</a></li>
		{%- endfor %}
	</ul>
</header>

<article class="prose">
	{{ content | safe }}
</article>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	<li>{%- if previousPost %}← <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}</li>
	<li>{%- if nextPost %}<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> →{% endif %}</li>
</ul>
{%- endif %}
{%- endif %}
